<mat-grid-list cols="3" rowHeight="65px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>{{ character.name }}</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="65px">
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Name" [(ngModel)]="character.name">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Ambition" [(ngModel)]="character.ambition">
      </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Clan" [(ngModel)]="character.clan">
      </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Concept" [(ngModel)]="character.concept">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Desire" [(ngModel)]="character.desire">
      </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Generation" [(ngModel)]="character.generation">
      </mat-form-field>
  </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Chronicle" [(ngModel)]="character.chronicle">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Predator" [(ngModel)]="character.predator">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Sire" [(ngModel)]="character.sire">
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list cols="3" rowHeight="35px">
    <mat-grid-tile>***</mat-grid-tile>
    <mat-grid-tile>Attributes</mat-grid-tile>
    <mat-grid-tile>***</mat-grid-tile>

    <mat-grid-tile class="tile-attribute">Strength <app-rating [(rating)]="character.attributes.strenght"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute">Charisma <app-rating [(rating)]="character.attributes.charisma"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute">Intelligence <app-rating [(rating)]="character.attributes.intelligence"></app-rating></mat-grid-tile>

    <mat-grid-tile class="tile-attribute">Dexterity <app-rating [(rating)]="character.attributes.dexterity"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute">Manipulation <app-rating [(rating)]="character.attributes.manipulation"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute">Wits <app-rating [(rating)]="character.attributes.wits"></app-rating></mat-grid-tile>

    <mat-grid-tile class="tile-attribute">Stamina <app-rating [(rating)]="character.attributes.stamina"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute">Composure <app-rating [(rating)]="character.attributes.composure"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute">Resolve <app-rating [(rating)]="character.attributes.resolve"></app-rating></mat-grid-tile>
</mat-grid-list>

<pre>a
  {{ test }}
</pre>

<pre>
  {{ character | json }}
</pre>
