<mat-grid-list cols="3" rowHeight="65px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>{{ character.name }}</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="65px">
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Name" [(ngModel)]="character.name">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Ambition" [(ngModel)]="character.ambition">
      </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Clan" [(ngModel)]="character.clan">
      </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Concept" [(ngModel)]="character.concept">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Desire" [(ngModel)]="character.desire">
      </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Generation" [(ngModel)]="character.generation">
      </mat-form-field>
  </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Chronicle" [(ngModel)]="character.chronicle">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Predator" [(ngModel)]="character.predator">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Sire" [(ngModel)]="character.sire">
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list cols="3" rowHeight="35px">
    <mat-grid-tile>{{ (character.attributes.strenght || 0) + (character.attributes.dexterity || 0) + (character.attributes.stamina || 0) }}</mat-grid-tile>
    <mat-grid-tile>{{ (character.attributes.charisma || 0) + (character.attributes.manipulation || 0) + (character.attributes.composure || 0) }}</mat-grid-tile>
    <mat-grid-tile>{{ (character.attributes.intelligence || 0) + (character.attributes.wits || 0) + (character.attributes.resolve || 0) }}</mat-grid-tile>

    <mat-grid-tile class="tile-attribute"><app-rating label="Strength" [(rating)]="character.attributes.strenght"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute"><app-rating label="Charisma" [(rating)]="character.attributes.charisma"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute"><app-rating label="Intelligence" [(rating)]="character.attributes.intelligence"></app-rating></mat-grid-tile>

    <mat-grid-tile class="tile-attribute"><app-rating label="Dexterity" [(rating)]="character.attributes.dexterity"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute"><app-rating label="Manipulation" [(rating)]="character.attributes.manipulation"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute"><app-rating label="Wits" [(rating)]="character.attributes.wits"></app-rating></mat-grid-tile>

    <mat-grid-tile class="tile-attribute"><app-rating label="Stamina" [(rating)]="character.attributes.stamina"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute"><app-rating label="Composure" [(rating)]="character.attributes.composure"></app-rating></mat-grid-tile>
    <mat-grid-tile class="tile-attribute"><app-rating label="Resolve" [(rating)]="character.attributes.resolve"></app-rating></mat-grid-tile>
</mat-grid-list>

<pre>{{ character | json }}</pre>
